/* 引用百度地图API */
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
.pt_div{padding-top: 9.25rem;padding-bottom: 3.125rem;}


@media (min-width:576px) {
	.show_div{display: none;}
	.w_50{width: 100%;font-size: 2rem;}
}
@media (min-width:768px) {
	
}
@media (min-width:992px) {
	.show_div{display: block;}
	.w_50{width: 50%;font-size: 1rem;}
}